body {
    padding: 0;
    margin: 0;

}

/*       topo        */

.container {
    margin: auto;
    max-width: 1000px;
}
.areageraltopo {
    height: 80px;
    padding: 5px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px black solid;
    border-top: 1px black solid;
}
.arealogo {
    background-color: royalblue;
    width: 200px;
    height: 60px;
}
.menuitems {
    display: flex;
    list-style: none;
}
.menuitems li {
    padding: 15px;
    background-color: blue;
    margin: 5px;
    border-radius: 5px;
    color: white;
}
.menuitems a {
    text-decoration: none;
    text-transform: capitalize;
}
/*    section slider *******************/

.slidersection {
    margin-top: 20px;
}