body {
    padding: 0;
    margin: 0;

}

/*       topo        */

.container {
    margin: auto;
    max-width: 1000px;
    background-color: gray;
}
.areageraltopo {
    height: 80px;
    padding: 5px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.arealogo {
    background-color: royalblue;
    width: 200px;
    height: 60px;
}
.menuitems {
    display: flex;
    list-style: none;
}
.menuitems li {
    padding: 15px;
}